Host nas
    HostName 10.0.0.2
    IdentityFile ~/.ssh/{{ssh_key_filename}}
    IdentitiesOnly yes
    User dmcgough
    Port 22
Host fluff
    HostName 10.0.0.4
    IdentityFile ~/.ssh/{{ssh_key_filename}}
    IdentitiesOnly yes
    User pi
    Port 22
Host gomey
    HostName 10.0.0.10
    IdentityFile ~/.ssh/{{ssh_key_filename}}
    IdentitiesOnly yes
    User pi
    Port 22
Host floof
    HostName 10.0.0.7
    IdentityFile ~/.ssh/{{ssh_key_filename}}
    IdentitiesOnly yes
    User pi
    Port 22
Host lola
    HostName 10.0.0.8
    IdentityFile ~/.ssh/{{ssh_key_filename}}
    IdentitiesOnly yes
    User pi
    Port 22
Host biggie
    HostName 10.0.0.9
    IdentityFile ~/.ssh/{{ssh_key_filename}}
    IdentitiesOnly yes
    User pi
    Port 22
Host nut-proxy
    HostName 10.0.0.233
    IdentityFile ~/.ssh/{{ssh_key_filename}}
    IdentitiesOnly yes
    User pi
    Port 22
