version: '3.8'
services:
  nginx-proxy-manager:
    image: jc21/nginx-proxy-manager:2.11.3
    container_name: {{container_name}}
    restart: unless-stopped
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - {{ docker_dir }}/{{container_name}}/data:/data
      - {{ docker_dir }}/{{container_name}}/letsencrypt:/etc/letsencrypt
