version: '3.8'
services:
  nginx-proxy-manager:
    image: 'jc21/nginx-proxy-manager@sha256:202c5a1ee1a72f3fa71bc66c65e34b5e991a85759756c88e3edd483243e1c19f'
    container_name: {{container_name}}
    restart: unless-stopped
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - {{ docker_dir }}/{{container_name}}/data:/data
      - {{ docker_dir }}/{{container_name}}/letsencrypt:/etc/letsencrypt
      