version: '3.8'
services:
  {{container_name}}:
    image: vaultwarden/server:1.31.0
    container_name: {{container_name}}
    restart: unless-stopped
    ports:
      - '82:80'
    volumes:
      - {{ docker_dir }}/{{container_name}}/data:/data/
      