vrrp_instance VI_1 {
  state BACKUP
  interface wlan0
  virtual_router_id 55
  priority 100
  advert_int 1
  unicast_src_ip 10.0.0.233
  unicast_peer {
    10.0.0.4
  }

  authentication {
    auth_type {{auth_type}}
    auth_pass {{auth_pass}}
  }

  virtual_ipaddress {
    10.0.0.234/24
  }
}
