version: "3.7"

networks:
  media:
    name: media
    driver: macvlan
    driver_opts:
      parent: enp3s0
    ipam:
      config:
        - subnet: "10.0.0.0/24"
          gateway: "10.0.0.1"

services:

  gluetun:
    image: qmcgaw/gluetun:v3.40.0
    restart: on-failure
    container_name: {{gluetun_container_name}}
    cap_add:
      - NET_ADMIN
    ports:
        # QBT UI Port
        - 8080:8080
        # Prowlarr port
        - 9696:9696
        # sabnzbd port
        - 9090
    environment:
      - VPN_SERVICE_PROVIDER=airvpn
      - SERVER_COUNTRIES=Switzerland
      - FIREWALL_VPN_INPUT_PORTS=52958
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - {{ docker_dir }}/{{gluetun_container_name}}/config:/gluetun
    networks:
      media:
        ipv4_address: 10.0.0.3

  prowlarr:
    image: ghcr.io/onedr0p/prowlarr:1.32.2.4987
    user: "1000:1000"
    restart: on-failure
    container_name: {{prowlarr_container_name}}
    environment:
        - TZ=America/New_York
        - PROWLARR__PORT=9696
    volumes:
      - {{docker_dir}}/{{prowlarr_container_name}}/config:/config
    network_mode: service:gluetun
    depends_on:
      - gluetun
      - qbittorrent
      - sabnzbd

  qbittorrent:
    container_name: {{qbt_container_name}}
    user: "1000:1000"
    restart: on-failure
    image: ghcr.io/onedr0p/qbittorrent:5.0.4
    environment:
      - QBITTORRENT__PORT=8080
    volumes:
      - {{docker_dir}}/{{qbt_container_name}}/config:/config
      - {{torrent_downloads}}:/torrent-downloads
    network_mode: service:gluetun

  sonarr:
    container_name: {{sonarr_container_name}}
    image: ghcr.io/onedr0p/sonarr:4.0.14.2938
    user: "1000:1000"
    restart: on-failure
    environment:
      - SONARR__PORT=8989
      - SONARR__APPLICATION_URL="https://sonarr.mchouseface.com/"
      - TZ=America/New_York
    volumes:
      - {{docker_dir}}/{{sonarr_container_name}}/config:/config
      - {{plex_tv_dir}}:/tv
      - {{torrent_downloads}}:/torrent-downloads
      - {{nzb_downloads}}:/nzb-downloads
    ports:
      - 8989:8989
    networks:
      media:
        ipv4_address: 10.0.0.11
  
  sabnzbd:
    container_name: {{sabnzbd_container_name}}
    image: ghcr.io/onedr0p/sabnzbd:4.4.1
    user: "1000:1000"
    restart: on-failure
    environment:
      - SABNZBD__PORT=9090
    volumes:
      - {{docker_dir}}/{{sabnzbd_container_name}}/config:/config
      - {{nzb_downloads}}:/nzb-downloads
      - {{nzb_incomplete_downloads}}:/nzb-incomplete-downloads
      - {{sabnzbd_backup_dir}}:/backups
    networks:
      media:
        ipv4_address: 10.0.0.12

  radarr:
    container_name: {{radarr_container_name}}
    image: ghcr.io/onedr0p/radarr:5.20.1.9773
    user: "1000:1000"
    restart: on-failure
    environment:
      - RADARR__PORT=7878
    volumes:
      - {{docker_dir}}/{{radarr_container_name}}/config:/config
      - {{plex_movies_dir}}:/movies
      - {{torrent_downloads}}:/torrent-downloads
      - {{nzb_downloads}}:/nzb-downloads
    networks:
      media:
        ipv4_address: 10.0.0.13

  plex:
    image: lscr.io/linuxserver/plex:1.41.9.9961-46083195d-ls275
    container_name: media-plex
    restart: on-failure
    network_mode: host
    environment:
      - PUID=1000                 # Change this to your user ID
      - PGID=1000                 # Change this to your group ID
      - VERSION=docker
      - TZ=America/New_York
    volumes:
      - "{{ docker_dir }}/media-plex/config:/config"  # Change to the path where your Plex config will be stored
      - "{{ plex_tv_dir }}:/tv"     # Change to the path for your TV shows
      - "{{ plex_movies_dir }}:/movies"  # Change to the path for your movies
      - "{{ docker_dir }}/media-plex/transcode:/transcode"  # Change to the path for transcoding
      - "{{ plex_holiday_dir }}:/holiday-movies"
      - "{{ plex_kids_dir }}:/kids"
    devices:
      - /dev/dri:/dev/dri       # This allows Plex to access the Intel GPU for hardware encoding

