version: "3.7"

networks:
  media:
    name: media
    driver: macvlan
    driver_opts:
      parent: eth0
    ipam:
      config:
        - subnet: "10.0.0.0/24"
          gateway: "10.0.0.1"

services:

  gluetun:
    image: qmcgaw/gluetun:v3.35.0
    restart: unless-stopped
    container_name: {{gluetun_container_name}}
    cap_add:
      - NET_ADMIN
    ports:
        # QBT UI Port
        - 8080:8080
        # Prowlarr port
        - 9696:9696
    environment:
      - VPN_SERVICE_PROVIDER=mullvad
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY={{WIREGUARD_PRIVATE_KEY}}
      - WIREGUARD_ADDRESSES=10.64.120.124/32
      - SERVER_CITIES=Zurich
    networks:
      media:
        ipv4_address: 10.0.0.3

  prowlarr:
    image: hotio/prowlarr@sha256:e645e402b8f290822bcfc11437be0b0a43377ac29c95ef2774e718e4f3953d11
    restart: unless-stopped
    container_name: {{prowlarr_container_name}}
    environment:
      - PUID=1026
      - PGID=100
      - UMASK=002
      - TZ=America/New_York
    volumes:
      - {{docker_dir}}/{{prowlarr_container_name}}/config:/config
    network_mode: service:gluetun
    depends_on:
      - gluetun
      - qbittorrent

  qbittorrent:
    container_name: {{qbt_container_name}}
    restart: unless-stopped
    image: hotio/qbittorrent@sha256:e48b654590b63a45b138a30f79960b262fc772647a8967837ba2503ce54256e9
    environment:
      - PUID=1026
      - PGID=100
      - UMASK=002
      - TZ=America/New_York
    volumes:
      - {{docker_dir}}/{{qbt_container_name}}/config:/config
      - {{docker_dir}}/{{qbt_container_name}}/media:/app/qBittorrent/downloads
    network_mode: service:gluetun

  plex:
    image: hotio/plex@sha256:ff9ebbaaf7b3a68c09db99fb8457c45720c783696ec5197109faf0786c45fdcc
    restart: unless-stopped
    container_name: {{plex_container_name}}
    ports:
      - "32400:32400"
    environment:
      - PUID=1026
      - PGID=100
      - UMASK=002
      - TZ=America/New_York
      - PLEX_CLAIM="{{plex_claim}}"
      - ADVERTISE_IP="http://10.0.0.10:32400"
      - ALLOWED_NETWORKS
      - PLEX_PASS=no
    volumes:
      - {{docker_dir}}/{{plex_container_name}}/config:/config
      - {{docker_dir}}/{{plex_container_name}}/transcode:/transcode
      - {{plex_movies_dir}}:/movies
      - {{plex_tv_dir}}:/tv
      - {{plex_kids_dir}}:/kids
      - {{plex_holiday_dir}}:/holiday-movies
    networks:
      media:
        ipv4_address: 10.0.0.10

  portainer-agent:
    image: portainer/agent@sha256:9cf6fea6dd0c8955b5e5d2fd5ccc630166e3f89757c01be563abd014bb44b537
    restart: unless-stopped
    ports:
      - "9001:9001"
    volumes:
      - /volume1/@docker/volumes:/var/lib/docker/volumes
      - /var/run/docker.sock:/var/run/docker.sock:ro

  sonarr:
      container_name: {{sonarr_container_name}}
      image: hotio/sonarr@sha256:510cae484504d44e78bb8bbe970e0db558bcc48194fb6d807d81ef201cc5fd02
      environment:
        - PUID=1026
        - PGID=100
        - UMASK=002
        - TZ=America/New_York
      volumes:
        - {{docker_dir}}/{{sonarr_container_name}}/config:/config
        - {{plex_tv_dir}}:/tv
        - {{docker_dir}}/{{qbt_container_name}}/media:/media-downloads
      ports:
        - 8989:8989
      networks:
        media:
          ipv4_address: 10.0.0.11
