version: "3.7"

networks:
  media:
    name: media
    driver: macvlan
    driver_opts:
      parent: eth0
    ipam:
      config:
        - subnet: "10.0.0.0/24"
          gateway: "10.0.0.1"

services:

  gluetun:
    image: qmcgaw/gluetun:v3.35.0
    restart: unless-stopped
    container_name: {{gluetun_container_name}}
    cap_add:
      - NET_ADMIN
    ports:
        # QBT UI Port
        - 8080:8080
        # Prowlarr port
        - 9696:9696
    environment:
      - VPN_SERVICE_PROVIDER=mullvad
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY={{WIREGUARD_PRIVATE_KEY}}
      - WIREGUARD_ADDRESSES=10.64.120.124/32
      - SERVER_CITIES=Zurich
    networks:
      media:
        ipv4_address: 10.0.0.3

  prowlarr:
    image: hotio/prowlarr:release-1.5.2.3484
    restart: unless-stopped
    container_name: {{prowlarr_container_name}}
    environment:
      - PUID=1026
      - PGID=100
      - UMASK=002
      - TZ=America/New_York
    volumes:
      - {{docker_dir}}/{{prowlarr_container_name}}/config:/config
    network_mode: service:gluetun
    depends_on:
      - gluetun
      - qbittorrent

  qbittorrent:
    container_name: {{qbt_container_name}}
    restart: unless-stopped
    image: hotio/qbittorrent:release-4.5.4
    environment:
      - PUID=1026
      - PGID=100
      - UMASK=002
      - TZ=America/New_York
    volumes:
      - {{docker_dir}}/{{qbt_container_name}}/config:/config
      - {{docker_dir}}/{{qbt_container_name}}/media:/app/qBittorrent/downloads
    network_mode: service:gluetun

  plex:
    image: hotio/plex:release-1.32.4.7195-7c8f9d3b6
    restart: unless-stopped
    container_name: {{plex_container_name}}
    ports:
      - "32400:32400"
    environment:
      - PUID=1026
      - PGID=100
      - UMASK=002
      - TZ=America/New_York
      - PLEX_CLAIM="{{plex_claim}}"
      - ADVERTISE_IP="http://10.0.0.10:32400"
      - ALLOWED_NETWORKS
      - PLEX_PASS=no
    volumes:
      - {{docker_dir}}/{{plex_container_name}}/config:/config
      - {{docker_dir}}/{{plex_container_name}}/transcode:/transcode
      - {{plex_movies_dir}}:/movies
      - {{plex_tv_dir}}:/tv
      - {{plex_kids_dir}}:/kids
      - {{plex_holiday_dir}}:/holiday-movies
    networks:
      media:
        ipv4_address: 10.0.0.10

  portainer-agent:
    image: portainer/agent
    restart: unless-stopped
    ports:
      - "9001:9001"
    volumes:
      - /volume1/@docker/volumes:/var/lib/docker/volumes
      - /var/run/docker.sock:/var/run/docker.sock:ro

  sonarr:
      container_name: {{sonarr_container_name}}
      image: hotio/sonarr:release-3.0.10.1567
      environment:
        - PUID=1026
        - PGID=100
        - UMASK=002
        - TZ=America/New_York
      volumes:
        - {{docker_dir}}/{{sonarr_container_name}}/config:/config
        - {{plex_tv_dir}}:/tv
        - {{docker_dir}}/{{qbt_container_name}}/media:/media-downloads
      ports:
        - 8989:8989
      networks:
        media:
          ipv4_address: 10.0.0.11
