---
- name: Create the {{container_name}} config folder
  ansible.builtin.file:
    path: "{{ docker_dir }}/{{container_name}}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: 0755

- name: Make sure the {{container_name}} container is created and running
  community.general.docker_container:
    name: "{{container_name}}"
    image: mpgirro/pihole-unbound:2026.02.0
    pull: yes
    state: "started"
    hostname: "{{host_name}}"
    domainname: pihole.mchouseface.com
    env:
      FTLCONF_LOCAL_IPV4: "{{FTLCONF_LOCAL_IPV4}}"
      TZ: "America/New_York"
      WEBPASSWORD: "{{WEBPASSWORD}}"
      WEBTHEME: "default-light"
      PIHOLE_DNS_: "127.0.0.1#5335"
      DNSSEC: "true"
      DNSMASQ_LISTENING: "single"
      FTLCONF_MAXDBDAYS: "90"
      FTLCONF_BLOCK_ICLOUD_PR: "true"
    ports:
      - 1443:443/tcp
      - 53:53/tcp
      - 53:53/udp
      - 18080:80/tcp
    volumes:
      - "{{ docker_dir }}/{{container_name}}/etc-pihole:/etc/pihole:rw"
      - "{{ docker_dir }}/{{container_name}}/etc-dnsmasq.d:/etc/dnsmasq.d:rw"
    restart_policy: always
  become: false

- name: Make {{container_name}} backup directory
  ansible.builtin.file:
    path: "{{ backups_dir }}/{{container_name}}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: 0755

- name: Copy backup script file in place.
  template:
    src: "backup-pihole.sh.j2"
    dest: "/usr/local/bin/backup-{{container_name}}.sh"
    owner: root
    group: root
    mode: 0755

- name: Add cron job to run backup weekly, at midnight on Sundays.
  ansible.builtin.cron:
    name: Run {{container_name}}-backup script.
    minute: "0"
    hour: "0"
    weekday: "0"
    job: "/usr/local/bin/backup-{{container_name}}.sh"
    state: present
  become: false